@{
    Layout = "~/_Layout.cshtml";
    Page.Title = string.Format("Razor - {0}", "CRUD - Search");

    var albumsearch = Request.Form["albumsearch"];

    var db = Database.Open("CHINOOK");
    var partialsearchstring = "%" + albumsearch + "%";

    var queryStatement = "SELECT AlbumId,Title, "
                        + "ArtistId, ReleaseYear, ReleaseLabel"
                        + "FROM Albums "
                        + "AlbumId = @0";

}
@section banner{<h1>@Page.Title</h1>}

<form id="theForm" action="" method="post">
    <div class="col-sm-3">
        <label id="foralbumsearch">Album Name</label><br />
        <input type="text" name="albumsearch" value="@albumsearch"><br /><br />
        <button type="submit" class="btn btn-primary" name="Search" id="theSearch">Search</button>
    </div><br />
</form>
<div class="col-sm-8">
    @if (IsPost)
    {
        if (albumsearch.IsEmpty())
        {
            <p><strong><span style="color:firebrick">Enter a album name (or partial name).</span></strong></p>
        }
        else
        {
            var queryProducts = db.Query(queryStatement, partialsearchstring);
            if (queryProducts.Count() == 0)
            {
                <p><strong><span style="color:firebrick">Nothing found for search argument.</span></strong></p>
            }
            else
            {
                var grid = new WebGrid(queryProducts, rowsPerPage: 5);
                @grid.GetHtml("table table-bordered table-striped table-hover",
                mode: WebGridPagerModes.All,
                lastText: "Last",
                firstText: "First",
                columns: grid.Columns(
                grid.Column(columnName: "AlbumId", header: "AlbumId"),
                grid.Column(columnName: "Title", header:"Title"),
                grid.Column(columnName: "ArtistId", header: "ArtistId"),
                grid.Column(columnName: "ReleaseYear", header: "ReleaseYear"),
                grid.Column(columnName: "ReleaseLabel ", header: "ReleaseLabel "),
                grid.Column(header: "", format: @<text><a href="~/ExercisePages/Exercise04 (2).cshtml">Edit</a></text>)
));
            }
        }
    }
</div>